<header>
<div class="header">
    <h1>FIVEcycle</h1>
    <nav><a href="/logout">LOGOUT</a> | <a href="/edit-profile">EDIT PROFILE</a></nav>
</div>

<div class="bikepath">
    <img src="/bike.svg" alt="">
    <img src="/bike.svg" alt="">
    <img src="/bike.svg" alt="">
    {{!-- <div class = "signees">
        {{#each signees}}
        
            <span class="signee">
                <img src="/bike.svg" alt="">
                {{#if homepage}}<a href="{{homepage}}">{{first_name}} {{last_name}}</a>
                {{else}}{{first_name}} {{last_name}}
                {{/if}} 
                {{#if age}}
                ({{age}})
                {{/if}}
                {{#if city}}
                from <a href="/signees/{{city}}"> {{city}}</a>
                {{/if}}
             </span>
        {{/each}}
    </div> --}}
</div>
</header>

