

<main>
    <div class="content">
        <p>
            Driving the car is bad for you, the people around you and the planet.
        </p>
        <p>
            Cycling, on the other hand, gets you in shape, keeps the air clean for everybody and it is friendly to the environment.
            <br>Bonus: For trips under 5 km it is even faster in most cases!
        </p>
        <p>
            Make the streets of your city a better place now! Pledge publicly that you will no longer use the car for trips under 5 km.
        </p>
        <a class="button" href="/register"><p class="button" >Sign the pledge now!</p></a>
    </div>
    <div class="content signees">

<h3>These {{count}} People {{#if city}} from {{city}} {{/if}} publicly pledge to not drive by car for trips of 5 km or less.<br> They promise to use a bicycle instead (or walk or use public transport):</h3>

    {{#each signees}}
        <span class="signee">
            <img src="/bike.svg" alt="">
            {{#if homepage}}<a href="{{homepage}}">{{first_name}} {{last_name}}</a>
            {{else}}{{first_name}} {{last_name}}
            {{/if}} 
            {{#if age}}
            ({{age}})
            {{/if}}
            {{#if city}}
            from <a href="/signees/{{city}}"> {{city}}</a>
            {{/if}}
             </span>
    {{/each}}



    </div>
</main>


